<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Js - Todolist</title>
  </head>
  <body>
    <div id="app">
      <h1>Liste des tâches</h1>
      <p>
        <input type="checkbox" v-model="filtrageTaches"/>
        Afficher uniquement les tâches terminées
      </p>
      <ul>
        <li v-for="t in listeTaches">
            <input type="checkbox" v-model="t.terminee"/>
          {{t.nom}} 
        </li>
      </ul>
    <p>
        Nouvelle tâche: 
        <input type="text" v-model="nomNouvelleTache"/> 
        <!-- pour supprimer les espaces -->
        <button v-on:click="ajouterNouvelleTache">Ajouter une nouvelle tâche</button>

    </p>

      {{listeTaches}}
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./vue05.js"></script>
  </body>
</html>
